.time-line-container > div:last-child .education__time > .education__line {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Serif Pro';
  src: url('../../public/fonts/SourceSerifPro-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('../../public/fonts/SourceSerifPro-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('../../public/fonts/SourceSerifPro-It.otf') format('otf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('../../public/fonts/SourceSerifPro-BoldIt.otf') format('otf');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

p, text {
  font-family: 'Source Serif Pro', Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 110%;
}
